<div class="navbar navbar-expand-sm navbar-light my-navbar" id="topo">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#text1">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#text2">Projetos</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#text3">Skills</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#text4">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</div>

    <%# <div class="menu2">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <div id="mobile-menu">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#text1">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#text2">Projetos</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="#text3">Skills</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="#text4">Contato</a>
          </li>
        </ul>
      </div>
    </div>
      <script>
        function myFunction() {
          var x = document.getElementById("mobile-menu");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
      </script> %>
